.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, #fff 10px, transparent 10px),
    linear-gradient(to left, #fff 10px, transparent 10px),
    repeating-linear-gradient(#fff, #fff 30px, #ccc 30px, #ccc 31px, #fff 31px);
  line-height: 31px;
  padding: 8px 10px;
  width: 100%;
  height: 275px;
}
