.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, #faed86 10px, transparent 10px),
    linear-gradient(to left, #faed86 10px, transparent 10px),
    repeating-linear-gradient(
      #faed86,
      #faed86 30px,
      #ccc 30px,
      #ccc 31px,
      #faed86 31px
    );
  line-height: 31px;
  padding: 8px 10px;
  width: 100%;
  height: 275px;
}
