.container {
  width: 100%;
  background-color: honeydew;
  margin: 20px;
}
.first_section {
  width: 65%;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.second_section {
  width: 30%;
  display: inline-block;
  border-left: 1px solid gray;
}
.section {
  display: inline-block;
  padding: 10px;
}
p {
  word-wrap: break-word;
}
.back {
  background-color: aqua;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.specializations {
  display: flex;
}
h5 {
  border: 2px solid gainsboro;
  background-color: gainsboro;
  margin: 5px;
}
.loc {
  display: inline-block;
  padding: 20px;
}
.fee {
  display: inline-block;
  padding: 20px;
}

.third_section {
  align-self: flex-end;
  padding-right: 60px;
}

/* body {
  background: #f9f9f9;
}
.testimonials {
  margin-top: 40px;
}
.testimonial {
  margin-bottom: 3em;
  background: #fff;
  padding: 2em;
  border-right: 30px solid #f9f9f9;
  min-height: 169px;
}

.testimonial:before {
  content: "";
  position: absolute;
  z-index: -1;
  -ms-transform: skew(-3deg, -2deg);
  -webkit-transform: skew(-3deg, -2deg);
  -o-transform: skew(-3deg, -2deg);
  -moz-transform: skew(-3deg, -2deg);
  bottom: 14px;
  box-shadow: 0 16px 5px rgba(0, 0, 0, 0.04);
  max-width: 90%;
  width: 90%;
  height: 50px;
  left: 1px;
}

.avatar .img-circle {
  background: #fff;
  padding: 3px;
  border: 1px solid #c5c5c5;
}

.avatar img {
  max-width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.testimonial h4,
.testimonial h4 a {
  font-weight: 700;
}

.testimonial h4 {
  margin-bottom: 8px;
}

.testimonial .testimony-body {
  font-size: 0.9em;
} */
